/* ================================
   NORMALIZAÇÃO
   Câmara de Comércio - WDD 231
   Katherine Montanhaur
================================ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}